@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xa6xdo');
  src:  url('fonts/icomoon.eot?xa6xdo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xa6xdo') format('truetype'),
    url('fonts/icomoon.woff?xa6xdo') format('woff'),
    url('fonts/icomoon.svg?xa6xdo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e902";
}
.icon-icon-goggle-disk:before {
  content: "\e901";
}
.icon-yandex-disk:before {
  content: "\e904";
}
.icon-adaptiv:before {
  content: "\e900";
}

